{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="row justify-content-center mx-3">
  <div class="col-8 p-0">
    <h1 class="text-center display-3">Listing</h1>
    <h1 class="text-center">{{item.title}}
      {% if user.is_authenticated %}

      {% if in_watch_list %}
      <span class="badge badge-primary badge-pill ml-3">In Watchlist</span>
      {% if not item.active %}
      <span class="badge badge-success badge-pill ml-3">Closed</span>
      {%endif%}
      {% elif not item.active  %}
      <span class="badge badge-success badge-pill ml-3">Closed</span>
      {% else %}
      <span class="badge badge-secondary badge-pill ml-3">Not In Watchlist</span>
      {% endif %}
      {% endif %}

    </h1>
    {% if user.is_authenticated %}
    {% if in_watch_list or item.active %}
    <form action="{% url 'watchlistbtn' %}" class="text-center" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-info">
        {% if in_watch_list %}
        Remove from Watchlist
        {% else %}
        Add to watchlist
        {% endif %}
      </button>
      <input type="hidden" name="watchlist_listing" value={{item.pk}}>
    </form>
    {% endif %}
    {% endif %}
    <img src="{{item.image.url}}" class="mx-auto d-block" alt="{{item.title}}">
    <p class=""><strong>Description:</strong> {{item.description}}</p>
    <p><strong>Bid:</strong>

      ${{auction.current_bid}}

    </p>
    {% if not item.active %}
    {% if auction.current_leader == user %}
    <div class="bg-success text-center text-light p-5 m-5">Auction is closed. <strong class="text-primary">You</strong>
      are the winner. Congratulations!</div>
    {%else%}
    <div class="bg-secondary text-center text-light p-5 m-5">Auction is closed. The winner is <strong
        class="text-primary"> {{auction.current_leader}}</strong></div>
    {%endif%}
    {% else %}
    <p>
      {{auction.number_of_bids}} Bid{% if auction.number_of_bids != 1%}'s{%endif%} right now </br>
      {%if user != auction.current_leader and auction.number_of_bids != 0 %}
      <strong class="text-primary"> {{auction.current_leader}}</strong> is leading
      {% else %}
      {% if auction.current_leader != item.user %}
      <strong class="text-primary">You</strong> are leading
      {% endif %}
      {%endif%}
      {% if not user.is_authenticated  %}
      <br>To be able to place a bid sign in
      {% elif user != item.user %}
      <form action="{% url 'newbid' list_id=item.pk %}" method="POST">
        <div class="row ">
          <div class="col-3">
            {% csrf_token %}
            {{form|crispy}}
          </div>
          <div class="col-1 mb-2 p-1 d-flex align-items-end" style="font-size: 34px;">$
          </div>
          {% if messages %}
          <div class="col-3 messages align-self-center mb-0 ">
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p {% if message.tags %} class="{{ message.tags }} p-2 mb-0 mt-3 bg-danger rounded text-light text-center"
              {% endif %}>
              {{ message }} ${{auction.current_bid}}

            </p>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <p {% if message.tags %} class="{{ message.tags }} p-2 mb-0 mt-3 bg-success rounded text-light text-center"
              {% endif %}>
              {{ message }} ${{auction.current_bid}}
            </p>

            {% endif %}
            {% endfor %}
          </div>
          {% endif %}

        </div>
        <button type="submit" class="btn btn-primary ">Bid</button>
      </form>
      {% else %}
      <form action="{% url 'close_auction' list_id=item.pk %}">
        <div class="row ">
          <div class="col-2">
            <button class="btn btn-success" type="submit">Close auction</button>
          </div>
          {% if messages %}
          <div class="col-3 messages align-self-center mb-0 ">
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <p {% if message.tags %} class="{{ message.tags }} p-1 m-0 bg-success rounded text-light text-center"
              {% endif %}>
              {{ message }}
            </p>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </form>
      {% endif %}

    </p>
    {% endif %}
    <p><strong>Categories:</strong> {{item.category}}</p>
    <p><strong>Created:</strong> {{item.date_posted}}</p>
    <p><strong>Author:</strong> {{item.user}}</p>


    <div class="text-center display-3">Comments</div>
    <div class="container m-0 ">
      {% for comment in comments %}
      <div class="row m-2 justify-content-center">
        <div class="col-1 border border-dark border-bottom-0 border-right-0 bg-secondary text-light">
          <span class="{%if comment.user_id == item.user %}text-danger{%elif comment.user_id == user %}text-success{%else%}text-primary{%endif%}">
          {{comment.user_id}}
          </span>
        </div>
        <div class="col-9 border border-dark border-bottom-0 border-left-0 bg-secondary text-light"></div>
        <div class="w-100"></div>
        <div class="col-3 border border-dark border-top-0 border-bottom-0 border-right-0 bg-secondary text-light">
          at {{comment.message_time}}
        </div>
        <div class="col-7 border border-dark border-bottom-0 border-left-0 border-top-0 bg-secondary text-light"></div>
        <div class="w-100"></div>
        <div class="col-10 border border-dark bg-secondary text-light">
          {{comment.message}}
        </div>
      </div>
      {% endfor %}
      {% if user.is_authenticated %}
      <div class="text-center mt-5">
        <form action="{% url 'comment' list_id=item.pk %}" method="POST">
          {% csrf_token %}
          {{addcomment}}
          <button class="btn btn-success" type="submit">Add comment</button>
        </form>
      </div>
      {%endif%}
    </div>
  </div>
</div>




{% endblock %}